/******************************************* NAVBAR *********************************/

/******************************************* HOME-TOP *********************************/
.top-container{
  background-color: #252525;
  color: #ff0000;
  padding: 250px;
  text-align: center;
}


/******************************************* CLASSES *********************************/


.middle-container {
  text-align: center;
  padding-top: 5%;
}

.icon-t {
  color: #19d3da;
  padding-bottom: 5%
}

.icon-d {
  color: #ff4646;
  padding-bottom: 5%
}

.icon-s {
  color: #54e346;
  padding-bottom: 5%
}

.role {
  padding: 7%;
  text-align: center;
}



/******************************************* ELEMENTS *********************************/
body {
  background-color: #af0404;
}

h1 {
  font-size: 6em;

}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
}


p {
  font-family: "Ubuntu";
  font-weight: 400;
}
